{
  "extends": "stylelint-config-standard",
  "rules": {
    "indentation": [
      2,
      {
        "baseIndentLevel": 1
      }
    ],
    "declaration-block-semicolon-newline-after": "always"
  }
}